.Sidebarbodytransform{
    transform: translateX(-1900px) !important;
}
.Sidebarbodytransformbtn{
    transform: translateX(1900px) !important;
    /* transition: all  ; */
}
.Sidebarbody{
    transition: transform .5s ease;
}
.sidebatbtn:hover{
    text-decoration: underline !important;
}